In [4]:
import pandas as pd
from pandas.io.stata import StataReader

try:
    # Crea un objeto StataReader para obtener los datos y las etiquetas por separado
    with StataReader('Data\ENOE_SDEMT225.dta', convert_categoricals = False) as reader:
        df = reader.read()
        value_labels = reader.value_labels()
        print("Archivo .dta cargado con éxito. Las etiquetas de valor están disponibles en 'value_labels'.")

    # Acceder a las etiquetas de la columna 'cd_a'
    if 'cd_a' in value_labels:
        print("\nEtiquetas de valor para la columna 'cd_a':")
        print(value_labels['cd_a'])

except FileNotFoundError:
    print("Error: El archivo no se encontró. Verifica la ruta.")
except Exception as e:
    print(f"Ocurrió un error al leer el archivo: {e}")

Archivo .dta cargado con éxito. Las etiquetas de valor están disponibles en 'value_labels'.

Etiquetas de valor para la columna 'cd_a':
{1: 'Área metropolitana de la Ciudad de México', 2: 'Guadalajara', 3: 'Monterrey', 4: 'Puebla', 5: 'León', 6: 'Torreón', 7: 'San Luis Potosí', 8: 'Mérida', 9: 'Chihuahua', 10: 'Tampico', 12: 'Veracruz', 13: 'Acapulco', 14: 'Aguascalientes', 15: 'Morelia', 16: 'Toluca', 17: 'Saltillo', 18: 'Villahermosa', 19: 'Tuxtla Guutiérrez', 20: 'Cd. Juárez', 21: 'Tijuana', 24: 'Culiacán', 25: 'Hermosillo', 26: 'Durango', 27: 'Tepic', 28: 'Campeche', 29: 'Cuernavaca', 30: 'Coatzacoalcos', 31: 'Oaxaca', 32: 'Zacatecas', 33: 'Colima', 36: 'Querétaro', 39: 'Tlaxcala', 40: 'La Paz', 41: 'Cancún', 42: 'Ciudad del Carmen', 43: 'Pachuca', 44: 'Mexicali', 46: 'Reynosa', 52: 'Tapachula', 81: 'Complemento urbano-rural', 82: 'Complemento urbano-rural', 83: 'Complemento urbano-rural', 84: 'Complemento urbano-rural', 85: 'Complemento urbano-rural', 86: 'Complemento urbano-rural'}

In [5]:
# 2. Análisis general del DataFrame
print("\n--- 2. Análisis General ---")
print(f"Dimensiones del DataFrame: {df.shape}")
print("\nInformación del DataFrame:")
df.info()

--- 2. Análisis General ---
Dimensiones del DataFrame: (423744, 114)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423744 entries, 0 to 423743
Columns: 114 entries, r_def to mes_cal
dtypes: float64(111), object(3)
memory usage: 368.6+ MB

In [6]:
# 3. Estadísticas descriptivas
print("\n--- 3. Estadísticas Descriptivas ---")
print("\nPara variables numéricas:")
print(df.describe())
print("\nPara todas las variables:")
print(df.describe(include='all'))

--- 3. Estadísticas Descriptivas ---

Para variables numéricas:
               r_def  loc            mun            est      est_d_tri  \
count  423744.000000  0.0  420193.000000  423744.000000  423744.000000
mean        0.031505  NaN      40.592794      23.527177     857.616042
std         0.686718  NaN      59.514094       8.922421     220.264193
min         0.000000  NaN       1.000000      10.000000     501.000000
25%         0.000000  NaN       7.000000      20.000000     660.000000
50%         0.000000  NaN      21.000000      20.000000     849.000000
75%         0.000000  NaN      49.000000      30.000000    1058.000000
max        15.000000  NaN     570.000000      40.000000    1243.000000

           est_d_men      ageb      t_loc_tri      t_loc_men           cd_a  \
count  403217.000000  423744.0  423744.000000  403217.000000  423744.000000
mean      858.772418       0.0       1.942307       1.973101      44.165154
std       220.315761       0.0       1.182057       1.191770      32.726199
min       501.000000       0.0       1.000000       1.000000       1.000000
25%       663.000000       0.0       1.000000       1.000000      15.000000
50%       849.000000       0.0       1.000000       1.000000      33.000000
75%      1058.000000       0.0       3.000000       3.000000      83.000000
max      1243.000000       0.0       4.000000       4.000000      86.000000

       ...          scian          t_tra       emp_ppal       tue_ppal  \
count  ...  423744.000000  423744.000000  423744.000000  423744.000000
mean   ...       4.528987       0.477442       0.670214       0.781193
std    ...       6.514078       0.546725       0.809932       0.909864
min    ...       0.000000       0.000000       0.000000       0.000000
25%    ...       0.000000       0.000000       0.000000       0.000000
50%    ...       0.000000       0.000000       0.000000       0.000000
75%    ...       7.000000       1.000000       1.000000       2.000000
max    ...      21.000000       2.000000       2.000000       2.000000

          trans_ppal        mh_fil2         mh_col        sec_ins  \
count  423744.000000  423744.000000  423744.000000  423744.000000
mean        0.001348       1.129463       1.456901       2.294794
std         0.036684       1.406683       2.335315       3.098890
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       3.000000       2.000000       4.000000
max         1.000000       4.000000       9.000000      11.000000

                tipo        mes_cal
count  423744.000000  423744.000000
mean        1.088830       9.456658
std         0.284498      19.768281
min         1.000000       4.000000
25%         1.000000       4.000000
50%         1.000000       5.000000
75%         1.000000       6.000000
max         2.000000      97.000000

[8 rows x 111 columns]

Para todas las variables:
                r_def  loc            mun            est      est_d_tri  \
count   423744.000000  0.0  420193.000000  423744.000000  423744.000000
unique            NaN  NaN            NaN            NaN            NaN
top               NaN  NaN            NaN            NaN            NaN
freq              NaN  NaN            NaN            NaN            NaN
mean         0.031505  NaN      40.592794      23.527177     857.616042
std          0.686718  NaN      59.514094       8.922421     220.264193
min          0.000000  NaN       1.000000      10.000000     501.000000
25%          0.000000  NaN       7.000000      20.000000     660.000000
50%          0.000000  NaN      21.000000      20.000000     849.000000
75%          0.000000  NaN      49.000000      30.000000    1058.000000
max         15.000000  NaN     570.000000      40.000000    1243.000000

            est_d_men      ageb      t_loc_tri      t_loc_men           cd_a  \
count   403217.000000  423744.0  423744.000000  403217.000000  423744.000000
unique            NaN       NaN            NaN            NaN            NaN
top               NaN       NaN            NaN            NaN            NaN
freq              NaN       NaN            NaN            NaN            NaN
mean       858.772418       0.0       1.942307       1.973101      44.165154
std        220.315761       0.0       1.182057       1.191770      32.726199
min        501.000000       0.0       1.000000       1.000000       1.000000
25%        663.000000       0.0       1.000000       1.000000      15.000000
50%        849.000000       0.0       1.000000       1.000000      33.000000
75%       1058.000000       0.0       3.000000       3.000000      83.000000
max       1243.000000       0.0       4.000000       4.000000      86.000000

        ...          scian          t_tra       emp_ppal       tue_ppal  \
count   ...  423744.000000  423744.000000  423744.000000  423744.000000
unique  ...            NaN            NaN            NaN            NaN
top     ...            NaN            NaN            NaN            NaN
freq    ...            NaN            NaN            NaN            NaN
mean    ...       4.528987       0.477442       0.670214       0.781193
std     ...       6.514078       0.546725       0.809932       0.909864
min     ...       0.000000       0.000000       0.000000       0.000000
25%     ...       0.000000       0.000000       0.000000       0.000000
50%     ...       0.000000       0.000000       0.000000       0.000000
75%     ...       7.000000       1.000000       1.000000       2.000000
max     ...      21.000000       2.000000       2.000000       2.000000

           trans_ppal        mh_fil2         mh_col        sec_ins  \
count   423744.000000  423744.000000  423744.000000  423744.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean         0.001348       1.129463       1.456901       2.294794
std          0.036684       1.406683       2.335315       3.098890
min          0.000000       0.000000       0.000000       0.000000
25%          0.000000       0.000000       0.000000       0.000000
50%          0.000000       0.000000       0.000000       0.000000
75%          0.000000       3.000000       2.000000       4.000000
max          1.000000       4.000000       9.000000      11.000000

                 tipo        mes_cal
count   423744.000000  423744.000000
unique            NaN            NaN
top               NaN            NaN
freq              NaN            NaN
mean         1.088830       9.456658
std          0.284498      19.768281
min          1.000000       4.000000
25%          1.000000       4.000000
50%          1.000000       5.000000
75%          1.000000       6.000000
max          2.000000      97.000000

[11 rows x 114 columns]

In [7]:
# 6. Matriz de correlación
print("\n--- 6. Matriz de Correlación ---")
try:
    print(df.corr())
except Exception as e:
    print(f"No se pudo calcular la matriz de correlación: {e}")

--- 6. Matriz de Correlación ---
No se pudo calcular la matriz de correlación: could not convert string to float: ' '